@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}
.card {
  height: 499px;
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 16px 40px 16px;
  border-radius: 1rem;
  gap: 24px;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  gap: 16px;
}
.content h1 {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  line-height: 120%;
  font-family: "Outfit";
  font-weight: 700;
  text-align: center;
}

.content p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-family: "Outfit";
  font-weight: 400;
  text-align: center;
}

@media (max-width: 375px) {
  .card {
    width: 90%;
    height: auto;
    padding: 16px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
